/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dark-mode{
    background-image: url(assets/black.jpg);
    color:white;
}
mat-drawer-content{height:auto;

height: 100%;}